header {
    display: flex;
    background-color: #efa144;
    margin-left: 10px;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: black;
}
header h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 5vh;

}

.items-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
    align-content: center;
}
.item {
    text-align: center;
    background-color: azure;
    margin: 1px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: brown;
    max-width: 350px;
    padding: 3px 3px 5px;
    justify-content: flex-end;
}
.img-wrapper {
    width: 100%;
    height: 65%;
    overflow: hidden;
}
.img-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -10px;
}

.item span {
    font-size: 25px;
    text-align: center;
    color: brown;
    text-decoration-line: underline;
    text-decoration-color: red;
    justify-self: flex-end;
}
.item p {
    height: 30%;
    font-size: 150%;
    font-family: Arial, serif;
    justify-self: flex-end;
    margin-bottom: auto;
    height: auto;
}

.button {
    font-size: 24px;
    background-color: rgba(224, 75, 75, 0.69);
    width: 50%;
    border-radius: 5px;
    justify-self: flex-end;
    align-self: center;
    border: 1px solid black;
}
.button:hover {
    background-color: azure;
    color: brown;
    border: 1px solid red;
}