.Goods {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.title {
  width: 100%;
  font-weight: 400;
  text-align: left;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 20px 0 45px 20px;
}
.products__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
}
.title__extra {
  position: relative;
  background-color: transparent;
  width: 338px;
  font-weight: 400;
  text-align: left;
  font-size: 24px;
  line-height: 24px;
  padding: 20px 0 45px 20px;
}

.title__extra::after {
  content: "";
  width: 2000px;
  margin-left: 22px;
  height: 2px;
  background-color: #68b738;
  border: none;
  position: absolute;
  top: 40%;
}
@media screen and (min-width: 768px) {
  .Goods {
    padding: 0 30px;
  }
  .products__wrapper {
    margin-left: -60px;
  }
  .title__extra {
    font-size: 36px;
    line-height: 36px;
  }
  .title__extra::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #68b738;
    border: none;
    position: absolute;
    left: -30px;
    top: 40%;
  }
}
@media screen and (min-width: 1440px) {
  .Goods {
    padding: 0 110px;
  }
  .products__wrapper {
    margin-left: -80px;
  }
  .title {
    width: 100%;
    font-weight: 400;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 74px 0 84px;
  }
}
