.product {
  position: relative;
  width: 320px;
  height: 190px;
  margin: 0;
  padding: 12px 20px;
  display: grid;
  box-sizing: border-box;

  grid-template-areas:
    "img name name"
    "img names main"
    "button button button";
  border: 1px solid #ebebeb;
}

.product__name {
  grid-area: name;
  grid-column: span 2;
  font-size: 16px;
  line-height: 20px;
  width: 76px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 18px;
}
.button {
  grid-column: span 3;
}

.ProductNames {
  grid-area: names;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.Product__img {
  grid-area: img;
  width: 140px;
  height: 112px;
  justify-self: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.Product {
  margin: 0;
  padding: 0;
  grid-area: main;
  list-style-type: none;
  text-align: right;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.product.plug {
  grid-template-areas:
    "img img img"
    "name name name"
    "plug plug plug"
    "button button button";
}
.Product__img.plug {
  background-size: 30px 30px;
  grid-column: span 0;
  height: 30px;
}
.product__name_plug {
  grid-area: name;
  grid-column: span 1;
  align-self: center;
  grid-row: span 2;
  padding: 0px 20px 8px 20px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.product__plug {
  grid-area: plug;
  grid-row: span 2;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .product {
    width: 324px;
    height: 511px;
    margin: 0;
    padding: 30px 36px;
    display: grid;
    box-sizing: border-box;
    justify-content: center;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas:
      "img img img"
      "name name name"
      "names .  main"
      "button button button";
    border: none;
    margin-left: 60px;
  }
  .product::after {
    content: "";
    width: 100%;
    height: 400px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
  .product__name {
    box-sizing: inherit;
    grid-area: name;
    grid-column: span 3;
    font-size: 20px;
    line-height: 21px;
    width: 100%;
    height: 47px;
    text-align: center;
    padding: 0 50px 21px;
  }
  .ProductNames {
    grid-area: names;
    margin: 0;
    padding: 0;
    grid-column: span 2;
    list-style-type: none;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }
  .Product__img {
    grid-area: img;
    width: 100%;
    height: 180px;
    justify-self: center;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
  .Product {
    margin: 0;
    padding: 0;
    grid-area: main;
    list-style-type: none;
    text-align: right;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }
  .Product__mass::after,
  .Product__taste::after,
  .Product__price::after {
    content: "";
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
  }
  .Product__mass,
  .Product__taste,
  .Product__price {
    padding-bottom: 10px;
  }
  .product.plug {
    grid-template-areas:
      "img img img"
      "name name name"
      "plug plug plug"
      "button button button";
  }
  .product.plug::after {
    background-color: transparent;
    border: 2px solid #f2f2f2;
    box-sizing: border-box;
  }
  .Product__img.plug {
    background-size: 60px 60px;
    grid-column: span 0;
    height: 180px;
  }
  .product__name_plug {
    box-sizing: inherit;
    grid-area: name;
    grid-column: span 3;
    font-size: 20px;
    line-height: 21px;
    width: 100%;
    height: 47px;
    text-align: center;
    padding: 0 50px 21px;
  }
  .product__plug {
    grid-area: plug;
    grid-row: span 2;
    font-size: 16px;
    line-height: 18px;
    padding: 40px 20px 20px;
  }
}
@media screen and (min-width: 1440px) {
  .product {
    width: 245px;
    height: 511px;
    padding: 30px 36px 10px;
    margin-left: 80px;
  }
  .product__name {
    padding: 0 30px 21px;
  }
  .Product__mass,
  .Product__taste,
  .Product__price {
    padding-bottom: 15px;
  }
  .product__name_plug {
    font-size: 20px;
    line-height: 21px;
    width: 100%;
    height: 47px;
    text-align: center;
    padding: 0 0 21px;
  }
  .product__plug {
    grid-area: plug;
    grid-row: span 2;
    font-size: 16px;
    line-height: 18px;
    padding: 23px 0 50px;
  }
}
