/* Общее оформление */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  background-color: #1b2473;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #787878;
  margin: 0;
  padding: 0;
}
/* Изменения под резиновую вёрстку */
@media screen and (max-width: 768px) and (min-width: 320px) {
  body {
    padding: 20px;
  }
}
/* Основная форма с выравниванием */
.main__form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 21px 45px;
  box-sizing: border-box;
  width: 600px;
  height: 412px;
  border-radius: 20px;
  margin: 0 auto;
  background-color: #fff;
  top: 82px;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .main__form {
    width: 100%;
    height: calc(100vh - 40px);
    padding: 27px 6.5% 0 6.5%;
    top: 0;
  }
}

/* Заголовок */
.welcome {
  margin: inherit;
  font-size: 50px;
  padding-left: 0px;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .welcome {
    font-size: 60px;
    margin: 0 auto;

    /* padding-left: 38.1%; - для пиксель-перфект 
    на разрешении из фигмы подходит, для полноценной верстки - выглядит гавном*/
    padding-bottom: 0;
  }
}

/* Выравнивание полей ввода */
.form__main-textfields {
  margin: 0;
  padding: 10px 0 47px;
}

/* Поле ввода - повторяющийся элемент*/
.form__textfield {
  width: 100%;
  padding-bottom: 12px;
}

/* Текст над полем ввода */
.form__text {
  padding: 0 0 1px 8px;
  display: block;
  font-size: 16px;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .form__text {
    margin: -5px;
    padding: 0 0 6px 11px;
    font-size: 24px;
  }
}
/* Само поле ввода */
.form__field {
  display: block;
  box-sizing: border-box;
  width: 509px;
  height: 49px;
  outline: none;
  border-radius: 10px;
  border-color: #787878;
  font-size: 28px;
  font-weight: 700;
  padding-left: 15px;
  align-content: center;
}
.form__field:focus {
  border-color: red;
}
.form__field::placeholder {
  color: #ccc;
  font-size: 26px;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .form__field {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    height: 49px;
    border-radius: 10px;
    border-color: #787878;
    outline: none;
    font-size: 36px;
    font-weight: 700;
    padding-left: 12px;
  }
}

/* Оформление чекбокса со скрытием настоящего */
.form__checkbox-wrapper {
  display: flex;
  align-items: center;
  padding-top: 6px;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .form__checkbox-wrapper {
    display: flex;
    align-items: center;
    padding-top: 9px;
    padding-left: 0;
    padding-bottom: 60px;
  }
}
.form__checkbox-original {
  position: absolute;
  left: -3000;
  opacity: 0;
}
.form__checkbox-fake,
.form__checkbox-label,
.form__checkbox-original {
  cursor: pointer;
}
.form__checkbox-wrapper:active {
  cursor: pointer;
}
.form__checkbox {
  display: flex;
  align-items: center;
}
.form__checkbox-fake {
  display: inline-block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 2px solid #787878;
  border-radius: 7px;
  margin-right: 10px;
  flex-shrink: 0;
  flex-grow: 0;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .form__checkbox-fake {
    width: 32px;
    height: 32px;
  }
}

.form__checkbox-label {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .form__checkbox-label {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
  }
}
.form__checkbox-original:checked + label .form__checkbox-fake::after {
  content: "✓";
  font-size: 24px;
  position: relative;
  top: -7px;
  margin: 0;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .form__checkbox-original:checked + label .form__checkbox-fake::after {
    content: "✓";
    font-size: 30px;
    left: 2px;
  }
}

/* Кнопка формы */
.form__button {
  display: block;
  width: 180px;
  height: 52px;
  margin: 0 auto 0 173px;
  background-color: #1a226b;
  border-color: #1a226b;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  color: #fff;
}
.form__button:hover {
  background-color: #1a226b8e;
  transition: 0.2s;
  cursor: pointer;
}

/* Изменения под резиновую вёрстку */
@media screen and (max-width: 768px) and (min-width: 320px) {
  .form__button {
    display: block;
    width: 220px;
    height: 80px;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 400;
  }
}
