.extra-product__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  align-content: center;
  border: 1px solid #cdcdcd;
  padding: 10px 20px 19px 20px;
  width: 320px;
  box-sizing: border-box;
}
.extra-product__name {
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 10px;
}
.extra-product__package {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  width: 50%;
  margin: 0;
  padding-bottom: 12px;
}
.extra-product__price {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  width: 50%;
  margin: 0;
  text-align: right;
}
.extra-product__button-wrapper {
  width: 100%;
}
@media screen and (min-width: 760px) {
  .extra-product__wrapper {
    width: 100%;
  }
  .extra-product__name {
    font-size: 20px;
    line-height: 21px;
    max-width: 55%;
  }
  .extra-product__package {
    font-size: 16px;
    line-height: 16px;
    max-width: 20%;
  }
  .extra-product__price {
    font-size: 16px;
    line-height: 16px;
    max-width: 25%;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .extra-product__wrapper {
    box-sizing: border-box;
    width: 820px;
    flex-wrap: nowrap;
    align-items: center;
    border: none;
    padding-right: 0;
    padding-left: 0;
  }
  .extra-product__name {
    font-size: 20px;
    line-height: 21px;
    max-width: 40%;
    padding: 0;
  }
  .extra-product__package {
    max-width: 20%;
    padding: 0;
  }
  .extra-product__price {
    text-align: center;
    max-width: 10%;
  }
  .extra-product__button-wrapper {
    width: 244px;
  }
  .extra-product__wrapper::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
    border: none;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
