.partnership {
  background-color: white;
  width: 100%;
  padding: 28px 20px;
  display: inline-flex;
  box-sizing: border-box;
}
.text {
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  width: 50%;
}
.adress {
  display: block;
  text-align: left;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .partnership {
    padding: 70px;
  }
  .adress {
    text-align: right;
    justify-self: end;
  }
  .adress,
  .text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .partnership {
    position: absolute;
    z-index: 10000;
    width: 570px;
    height: 201px;
    left: 110px;
    top: 95px;
    padding: 66px 70px;
  }
  .adress {
    text-align: left;
    justify-self: end;
  }
}
