/* Задание шрифта */
* {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
body {
  background: url(https://clipart-db.ru/file_content/rastr/background_024.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Цвет "Полезных ссылок" */
a,
a::after {
  color: rgb(226, 161, 21);
}

/* Цвет основных ссылок внутри документа */
[href*="#"] {
  text-decoration-line: none;
  color: black;
}
[href*="#"]::after {
  color: black;
}

/* Основной цвет сайта */
._color {
  background-color: #1e996a;
  color: white;
}

/* Неподвижный верх */
.header {
  position: fixed;
  display: flex;
  z-index: 21;
  top: 0;
  width: 100%;
  height: 3.5rem;
  padding-left: 2%;
}
.header-text {
  display: flex;
  justify-self: center;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 2.5rem;
}

.wrapper {
  position: relative;
  top: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* Панель навигации */
.aside {
  left: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 300px;
  margin-right: 10px;
}
.aside__text {
  margin: 0;
}
.aside__nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  list-style-type: none;
  padding: 5px;
  width: 70%;
  border: 2px solid #1e996a;
  border-radius: 10px;
}
.aside__nav-item {
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  font-size: 1em;
}

/* Основная часть */
.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  height: 87vh;
  overflow-x: hidden;
}
.main__addresses {
  font-size: 1.7rem;
  position: relative;
}
.main__letter {
  position: sticky;
  top: -1px;
  width: 100%;
  padding-left: 10px;
  font-size: 1.5rem;
}
.main__families {
  margin-top: 5px;
  list-style-type: none;
}

/* Для навигации. Иначе при переходе "снизу" блока, он переходит 
либо на нижнюю часть блока, либо перекрывает хедером блока. 
Костыль, зато работает без JS */
.main__navigation-point {
  height: 40px;
}

.footer {
  position: fixed;
  z-index: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
}
.footer__copyright {
  font-size: 1rem;
  text-align: center;
}
