.programForm {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.programForm__wrapper {
  padding: 0 20px;
}
.title {
  width: 100%;
  font-weight: 400;
  text-align: left;
  font-size: 36px;
  line-height: 36px;
  padding: 0 0 45px 0;
}
.title_text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 39px;
  text-align: left;
  margin: inherit;
}
.form__catMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
}
.form__input {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-bottom: 10px;
}
.input__name {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}
.input__field {
  margin-left: auto;
  box-sizing: inherit;
}
.form__purpose {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
}
.form__purpose::before,
.form__purpose::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  box-sizing: border-box;
  background-color: #d9d9d9;
  margin: 22px 0;
}
.form__title-light {
  margin: 0;
  margin-bottom: 35px;
  position: relative;
  background-color: transparent;
  width: 187px;
  font-weight: 400;
  text-align: left;
  font-size: 24px;
  line-height: 24px;
}

.form__title-light::after {
  content: "";
  width: 2000px;
  margin-left: 30px;
  height: 2px;
  background-color: #68b738;
  border: none;
  position: absolute;
  top: 40%;
}

.form__textarea {
  width: 100%;
  margin-bottom: 22px;
}
.form__textarea::placeholder {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
.form__checkboxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 35px;
}
input[type="checkbox"] {
  opacity: 0;
}
.form__checkboxes > label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 15px;
  position: relative;
  padding-left: 35px;
}
.form__checkboxes > label::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  border: 1px solid #cdcdcd;
  position: absolute;
  top: -25%;
  left: -5px;
}
input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background-image: url(../../assets/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: -25%;
  left: -2px;
}
