.Footer {
  height: 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: #f2f2f2;
}
.Footer__logo {
  margin: 20px auto;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .Footer {
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  }
  .Footer__mark {
    display: none;
  }
  .Footer__logo {
    margin: 0;
    padding: 0;
  }
}

.Footer__mark {
  width: calc(100% - 40px);
  align-self: center;
  height: 2px;
  background-color: #d9d9d9;
}
.Socials {
  list-style-type: none;
  display: flex;
  margin: 20px 0;
  padding: 0;
  width: 130px;
  height: 22px;
  justify-content: space-between;
}
.Footer__tm {
  padding: 0;
}
@media screen and (min-width: 1440px) {
  .Footer {
    padding: 0 110px;
  }
}
