.extraProducts {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding-bottom: 35px;
}
.extraProducts__wrapper {
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .extraProducts__wrapper {
    max-width: 70%;
  }
}
