.header {
  height: 65px;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 20px;
}
.header-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  font-weight: 500;
}
.header__menu {
  display: none;
}
.menu__line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  z-index: 5;
}
.header__menu._active {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  z-index: 3;
}
.Header__logo {
  width: 33.32px;
  height: 37.61px;
  background-image: url("../../assets/headerLogo/logo-mobile.svg");
}
.Header__logo:hover {
  opacity: 0.8;
}
.Header__logo:active {
  opacity: 0.5;
}
.header__burger::before,
.header__burger::after {
  content: "";
}

.header__burger {
  display: block;
  position: relative;
  width: 24px;
  height: 16px;
  cursor: pointer;
}

.header__burger::before,
.header__burger::after,
.header__burger span {
  display: block;
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: black;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.header__burger._active span {
  transform: scale(0) translate(0px, -50%);
}
.header__burger._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}
.header__burger._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.header__item {
  flex-shrink: 0;
  padding: 24px 0;
}

.header__name {
  flex: 0 1 auto;
}
.main-link,
.catalog-link,
.other-link {
  position: relative;
}
.main-link > .active,
.catalog-link > .active,
.other-link > .active {
  position: relative;
  text-decoration: underline;
  text-decoration-color: #68b738;
}
.header__cart {
  position: absolute;
  right: 50px;
  opacity: 0;
  z-index: 6;
}
.header__cart.cart_visible {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 24px 30px;
  }
  .header__burger,
  .header__burger._active {
    display: none;
  }
  .header__cart {
    right: 470px;
  }
  .header__name {
    display: none;
  }
  .Header__logo {
    width: 174px;
    height: 51.68px;
    background-image: url("../../assets/headerLogo/logo-tablet.svg");
    background-repeat: no-repeat;
  }
  .header__menu,
  .header__menu._active {
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
    top: 0;
    right: 0;
    justify-content: space-between;
    justify-self: flex-end;
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
  }
  .header__item {
    padding: 0 0 0 36px;
  }
  .menu__line {
    display: none;
  }
}
@media screen and (max-width: 767.5px) {
  .header__item {
    background-color: white;
    z-index: 3;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    width: calc(100% - 220px);
    padding: 53px 110px 32px;
  }
  .header__cart {
    right: 700px;
  }
  .Header__logo {
    width: 202px;
    height: 59px;
    background-image: url("../../assets/headerLogo/logo-desktop.svg");
    background-repeat: no-repeat;
  }
  .header__menu,
  .header__menu._active {
    width: 50%;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    flex-shrink: 0;
  }
  .header__item {
    text-align: end;
    width: 30%;
    flex-shrink: 0;
    padding: 0;
    background-color: transparent;
  }
}
/* 24/30 53/110 */
