.infoblock {
  box-sizing: border-box;
  background-color: #f2f2f2;
  margin: 20px 0;
  padding: 20px;
  display: grid;
  row-gap: 20px;
  grid-template-areas:
    "image title title"
    "texts texts texts"
    "lines lines lines"
    "links links links";
}

@media screen and (min-width: 768px) {
  .infoblock {
    padding: 70px 60px 55px 50px;
    grid-template-areas:
      "title title image"
      "texts texts image"
      ". . image"
      "links links image";
  }
}

@media screen and (min-width: 1440px) {
  .infoblock {
    padding: 70px 60px 55px 50px;
    grid-template-areas:
      "image title title"
      "texts texts texts"
      ". . ."
      "links links links";
    max-width: 570px;
  }
}
.infoblock__title {
  grid-area: title;
  text-transform: uppercase;
  align-self: center;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .infoblock__title {
    font-size: 36px;
  }
}

.image {
  display: block;
  grid-area: image;
  height: 100%;
  max-width: 67px;
}
.image__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .image__wrapper {
    width: 200px;
    height: 200px;
    grid-row: span 4;
  }
  .image {
    max-width: 265px;
  }
}
@media screen and (min-width: 1440px) {
  .image__wrapper {
    width: 100px;
    height: 100px;
    grid-row-start: 1;
  }
  .image {
    max-width: 134px;
  }
}
.infoblock__text {
  grid-area: texts;
  font-family: Arial, sans-serif;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #444444;
}
@media screen and (min-width: 768px) {
  .infoblock__text {
    padding-right: 55px;
  }
}
.line {
  grid-area: lines;
  margin: 0;
  width: 100%;
  height: 2px;
  background-color: #d9d9d9;
}
.infoblock__link,
.infoblock__link::after {
  color: black;
  grid-area: links;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
}
@media screen and (min-width: 768px) {
  .infoblock__link,
  .infoblock__link::after {
    font-size: 20px;
  }
}
.link_text {
  margin: 0;
  padding: 0 25px 0 0;
}
