.Main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main__wrapper {
  padding: 165px 20px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;

  align-items: center;
}
.infoblock__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1440px) {
  .infoblock__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.howitworks {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  line-height: 38px;
  text-align: left;
  font-size: 36px;
  font-weight: 400;
}

.main__how-works {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .main__wrapper {
    padding: 0 30px;
  }
  .main__how-works {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin: 0 30px;
  }
  .howitworks {
    padding-bottom: 40px;
    line-height: 62px;
    font-size: 60px;
  }
}
@media screen and (min-width: 1140px) {
  .main__wrapper {
    padding: 0 110px;
  }
  .main__how-works {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin: 0 30px;
  }
  .howitworks {
    padding-bottom: 40px;
    line-height: 62px;
    font-size: 60px;
  }
  .infoblock__wrapper {
    gap: 80px;
  }
}
