.button {
  width: 100%;
  height: 40px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}
.Green {
  background-color: #68b738;
}
.Green:hover {
  background-color: #5eaa2f;
}
.Green:active {
  color: rgb(255 255 255 /0.3);
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 0.25);

  border: 1px solid rgb(0 0 0 / 0.2);
  text-shadow: 0px 4px 4px rgba(0 0 0 / 0.25);
}
.Grey {
  background-color: #f2f2f2;
  color: #444444;
}
.Grey:hover {
  background-color: #ebebeb;
}
.Grey:active {
  color: rgb(68 68 68 /0.3);
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 0.25);
}
