.MainTitle {
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.title__wrapper {
  position: relative;
  height: 302px;

  color: white;
}
.bacground__color {
  position: absolute;
  background: rgb(104 183 56 /0.85);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.cat__background {
  position: absolute;
  display: block;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 302px;
  z-index: -2;
  align-items: center;
  background-image: url("../../assets/Index/index-background-desktop2.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.main__info {
  height: 100%;
  padding: 0;
  position: relative;
  top: -130px;
}
.main__title {
  margin: 0;
  padding-top: 27px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
.tagline {
  margin: 0;
  padding: 20px 0 0 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.can {
  position: relative;
  /* width: 87.5%; */
  margin: 0 auto;
  left: 0;
  right: 0;
}
@media screen and (min-width: 768px) {
  .MainTitle {
    padding: 0 30px;
  }
  .title__wrapper {
    margin-left: calc(117px - 30px);
    height: fit-content;
    background-color: transparent;
    color: black;
    text-align: left;
  }
  .cat__background {
    display: none;
  }
  .main__info {
    top: -300px;
  }
  .main__title {
    padding-top: 62px;
    font-size: 60px;
    line-height: 60px;
  }
  .tagline {
    padding: 41px 0 0 0;
    font-size: 20px;
    line-height: 20px;
  }
  .can {
    position: relative;
    width: 100%;
    max-width: 768px;
    top: 341px;
    margin: 0;
    left: 0;
    right: 0;
  }
  .button_wrapper {
    z-index: 2;
    position: absolute;
    bottom: 260px;
    left: calc(110px - 30px);
    width: 244px;
    font-size: 20px;
  }
  .button {
    font-size: 20px;
    height: 54px;
  }
}
@media screen and (min-width: 1440px) {
  .MainTitle {
    padding: 0 50px;
    height: 600px;
  }
  .title__wrapper {
    margin-left: calc(190px - 110px);
    height: fit-content;
    background-color: transparent;
    color: black;
    text-align: left;
  }
  .cat__background {
    position: absolute;
    display: block;
    padding: 0;
    top: -150px;
    left: 50%;
    width: 720px;
    height: 694px;
    z-index: -2;
    align-items: center;
    background-image: url("../../assets/Index/index-background-desktop1.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .bacground__color {
    position: absolute;
    display: block;
    padding: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .main__title {
    padding-top: 110px;
    width: 414px;
  }

  .can {
    position: relative;
    width: 552px;
    max-width: 768px;
    top: 30px;
    margin: 0;
    left: 110px;
    right: 0;
    z-index: 0;
  }
  .button_wrapper {
    z-index: 2;
    position: absolute;
    top: 360px;
    left: calc(110px - 30px);
    width: 244px;
  }
}
