/* Задание шрифта */
* {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

/* Цвет "Полезных ссылок" */
a, a::after {
    color: #FF710B;
}

/* Цвет основных ссылок внутри документа */
[href*="#"] {
    text-decoration-line: none;
    color: black;
}
[href*="#"]::after {
    color: black;
}
 
/* Неподвижный верх */
.header {
    background-color: #590BFF;
    color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    margin-top: 0px;
    padding-top: 0%;
    max-height: 80px;
    padding-left: 10px;
}
h1 {
    margin-top: 0%;
    padding-top: 0%;
    font-size:56px;
}

/* Панель навигации */
.aside {
    position: fixed;
    height: 57px;
    left: 5px;
    top: 80px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 10px;
}
.nav_aside {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0%;
    justify-content: space-between;
    width: 90%;
    margin-left: 0%;
}
.nav_aside_item {
    text-align: center;
    width: 25%;
    height: 25px;
}

/* Основная часть */
.main {
    position: absolute;
    z-index: 0;
    left: 25%;
    min-width: 70%;
    top: 80px;
    /* overflow-y: hidden; */
}
.addresses {
    font-size: 26px;
    position: relative;
    
    
}
.letter {
    background-color: #590BFF;
    color: white;
    position: sticky;
    right: 0%;
    top: 80px;
    width: 100%;
    padding-left: 10px;
    
}
.families {
    list-style-type: none;
    padding-left: 0;
}