.LiveExample {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.liveexample__line {
  display: block;
  border: 1px solid #e6e6e6;
  margin: 0;
  margin-bottom: 40px;
}
.liveexample__wrapper {
  margin: 0;
  padding: 0 20px;
  background-color: #eaeaea;
}
.liveexample__title {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  line-height: 38px;
  text-align: left;
  font-size: 36px;
  font-weight: 400;
}
.liveexample__text {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  text-align: left;
}
.block__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  row-gap: 15px;
}
.block {
  width: 124px;
  height: 56px;
  position: relative;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.block__text {
  font-size: 24px;
  text-transform: uppercase;
}
.block__label {
  width: 77px;
  position: absolute;
  bottom: -25%;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
  background-color: #eaeaea;
  margin: 0;
}
.example_price {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 15px 0 40px;
}
.liveexample__cats {
  height: 277px;
  background-color: #eaeaea;
}
.cats__wrapper {
  height: 232px;
  position: relative;
}
.cat1 {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.cat2__wrapper {
  position: absolute;
  top: 0;
  left: 20px;
  right: 0;
  z-index: 2;
  background-color: #eaeaea;
  background-repeat: no-repeat;
  overflow: hidden;
}

.cat2 {
  height: 232px;
  padding: 0;
  margin: 0;
}

.slider__wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  top: 236px;
}
.slider {
  width: 85px;
  margin: 0;
  position: relative;
}
.slider__text {
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 13px;
}

.catSlider {
  width: 100%;
  height: 14px;
  z-index: 5;
  appearance: none;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: progress;
}
.slider-line {
  height: 8px;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #68b738;
  border-radius: 5px 0 0 5px;
  background-color: #68b738;
  top: 8px;
  left: 3px;
  z-index: 4;
}
.catSlider:focus {
  outline: none;
}
.catSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #68b738;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #68b738;
  cursor: pointer;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .slider__text {
    font-size: 20px;
  }
  .slider {
    width: 426px;
  }
  .example_price {
    width: 28%;
    font-size: 20px;
    line-height: 22px;
    text-align: right;
    margin: 0;
    margin-left: 100px;
  }
  .liveexample__title {
    padding-bottom: 40px;
    line-height: 60px;
    font-size: 60px;
  }
  .liveexample__text {
    padding: 50px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .block {
    width: 162px;
    height: 77px;
  }
  .block__label {
    width: fit-content;
    bottom: -10%;
    font-size: 14px;
    line-height: 14px;
    justify-content: center;
    padding: 0 10px;
    background-color: white;
    margin: 0;
  }
  .block__text {
    font-size: 30px;
  }
  .block__wrapper {
    margin-bottom: 200px;
  }
  .liveexample__wrapper {
    background-color: white;
    padding: 0 30px;
  }
  .liveexample__cats {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 591px;
    background-color: #eaeaea;
    position: relative;
  }
  .cats__wrapper {
    justify-self: center;
    max-width: 591px;
    height: 591px;
    top: -25%;
  }
  .cat2__wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50px;
    right: 0px;
    z-index: 0;
    background-color: transparent;
    overflow: hidden;
  }
  .cat2 {
    height: 591px;
    width: 590px;
    padding: 0;
    margin: 0;
    background: linear-gradient(
      to bottom,
      white 0%,
      white 25%,
      white 25%,
      #eaeaea 25%,
      #eaeaea 100%
    );
  }
  .slider__wrapper {
    top: 620px;
  }
  .catSlider {
    width: 100%;
    height: 6px;
    z-index: 5;
    appearance: none;
    background: #dcdcdc;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
  }

  .catSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 12px solid white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 5px 1px rgba(0, 0, 0, 0.15);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    color: #68b738;

    cursor: pointer;
  }
  .slider-line {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .LiveExample {
    width: 100%;
    height: 641px;
    margin: 205px 0 0 0;
    padding: 0 110px;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #eaeaea;
  }
  .liveexample__wrapper {
    background-color: #eaeaea;
    padding: 0;
  }
  .block__label {
    background-color: #eaeaea;
  }
  .block__wrapper {
    width: 436px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 20px;
    row-gap: 15px;
  }
  .example_price {
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 55px 0 0;
    text-align: center;
    margin: 0;
  }
  .liveexample__text {
    width: 436px;
  }
}
