.HowItWorks {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  box-sizing: border-box;
}

.HowItWorks__imagewrapper {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: #68b738;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.HowItWorks__image {
  height: 50%;
}
.HowItWorks__text {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: #444444;
}
.HowItWorks__number {
  display: none;
}

@media screen and (min-width: 768px) {
  .HowItWorks {
    width: 230px;
    height: 280px;
    flex-direction: column;
    justify-content: left;
  }
  .HowItWorks__imagewrapper {
    width: 80px;
    height: 80px;
    margin: 30px;
  }
  .HowItWorks__text {
    font-size: 16px;
  }
  .HowItWorks__number {
    display: block;
    color: #f2f2f2;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 280px;
    line-height: 280px;
    z-index: -1;
  }
}
